body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

h1 {
    margin: 0;
}

.language-buttons {
    display: flex;
    gap: 10px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

h3 {
    margin: 20px 0;
    font-size: 20px;
    color: #333;
}

.tab-container {
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.tab-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #777;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    border: 1px solid #ddd;
}

.tab-content p {
    margin: 0;
}

.reference {
    padding: 10px 20px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: auto;
}

.material-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.material-selection {
    text-align: center;
    margin-right: 20px; /* Adjust the margin as needed */
}

.dropdowns {
    display: flex;
    flex-direction: column;
}

.dropdown {
    margin-bottom: 20px;
}

#material-properties {
    text-align: center;
}

.common-properties {
    text-align: center;
    padding: 00px; /* Match the padding with material selection section */
    background-color: #f9f9f9; /* Match the background color */
    margin-left: 20px; /* Adjust the margin as needed */
}
